<div class="wrapper">
  <div class="top-content">
    <header>
      <a class="main-title" routerLink="/"><h1>notcomfy</h1></a>
      <nav class="navigation-container">
        <ul>
          <li><a [routerLink]="['comics']" routerLinkActive="active"><span class="main-link-area">comics</span></a></li>
          <li><a [routerLink]="['about']" routerLinkActive="active"><span class="main-link-area">about</span></a></li>
          <li><a [routerLink]="['contact']" routerLinkActive="active"><span class="main-link-area">contact</span></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer>
    <ul class="social-links">
      <li><a target="_blank" aria-label="Twitter" href="https://twitter.com/notcomfycomics"><i class="fa-brands fa-square-twitter"></i></a></li>
      <li><a target="_blank" aria-label="Instagram" href="https://instagram.com/notcomfycomics"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a target="_blank" aria-label="Tumblr" href="https://tumblr.com/notcomfycomics"><i class="fa-brands fa-square-tumblr"></i></a></li>
    </ul>
    <p>
      &copy;notcomfy 2022. All rights reserved. 
      <a routerLink="['/', 'privacy']"><span class="main-link-area">Privacy Policy</span></a>
    </p>
  </footer>
</div>